body {
  font-family: Roboto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #E2E2E2;
  overflow: hidden;
}

/**********/
/* Banner */
/**********/
#banner {
  background-color: #1F1F1F;
  padding: 2em;
}

#banner h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 300;
}

/********/
/* MAIN */
/********/

main {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
  padding: 1em;
  padding-top: 3em;
}

@media only screen and (max-width: 576px) {
  #grid {
    width: 250px !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  #grid {
    width: 500px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #grid {
    width: 550px !important;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }

  #grid {
    order: 1;
    margin: 0 auto 0 auto;
  }

  #options {
    order: 2;
  }
}

#options {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  margin: 0 auto 0 auto;
}

#grid-size-group {
  display: flex;
  flex-direction: column;
}

#grid-size-group label {
  text-align: center;

}

#grid-size-group input {
  cursor: pointer;
  width: 50%;
  margin: 0 auto 0 auto;
  accent-color: #FF5E0E;
}

#color-group {
  display: flex;
  justify-content:space-around;
}

#color-group > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#color-group label {
  text-align: center;
  user-select: none;
  pointer-events: none;
}

#color-group input {
  width: 52px;
  height: 50px;
  margin: 0 auto 0 auto;
  border: none;
  padding: 1;
  border-radius: 50%;
}

#color-group input::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color-group input::-webkit-color-swatch {
	border-radius: 50%;
  border-color: white;
}

#brush-modes {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: none;
}

#brush-modes > legend {
  text-align: center;
  padding-bottom: 1em;
}

#brush-modes input {
  display: none;
}
#brush-modes input:checked+label {
  border-color: #FF5E0E;
}

#brush-modes label {
  cursor: pointer;
  display: inline-block;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  display: flex;
  justify-content: center;
}

#grid {
  width: 650px;
  user-select: none;
  background-color: white;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
}

.square {
  aspect-ratio: 1/1;
  user-select: none;
  background-color: inherit;
}
